/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/Spinner.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
/* Spinner.module.css */
.Spinner_spinner__l8_Oz {
    width: 96px;
    height: 96px;
    border: 8px solid #FF0420;
    border-top: 8px solid white;
    border-radius: 50%;
    animation: Spinner_spin__QpoGu 1.5s linear infinite;
  }
  
  @keyframes Spinner_spin__QpoGu {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
